*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    background: rgb(54, 54, 54);
}

main {
    margin: auto;
    margin-top: 50px;
    background: #7e9ae6;
    padding: 50px;
    display: inline-block;
    border: 5px solid grey;
}

    h2 {
        margin-top: 10px;
        font-size: 40px;
    }

    p {
        margin-top: 30px;
        font-size: 30px;
    }

    .buttons {
        margin-top: 10px;
    }
        a {
            text-decoration: none;
        }
        button {
            width: 30px;
            height: 30px;
        }